@media screen and (min-width: 750px) {
    .cart__contents {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between !important;
        gap: 8rem !important;
        align-items: flex-start !important;
    }

    .cart__items {
        flex: 1 !important;
        border-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    .cart__footer {
        width: 45rem !important;
        flex-shrink: 0 !important;
        padding: 4rem !important;
        background: #FAFAFA !important;
        border-radius: 12px !important;
        display: block !important;
        margin-top: 0 !important;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.02) !important;
    }

    .cart__footer>* {
        width: 100% !important;
    }

    .cart__footer>*+* {
        margin-left: 0 !important;
        margin-top: 3rem !important;
    }

    .cart__footer .totals {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        width: 100% !important;
    }

    .totals__total {
        margin: 0 !important;
    }

    .totals__total-value {
        margin: 0 !important;
        font-weight: 600 !important;
    }
}